<section class="billing-history">
    <h2>Bill history</h2>
    <div class="sky-form">
        <form autocomplete="off">
            <select id="bill-history">
                <option value="/bill/2016/01/02" selected="">
                    02 Jan 2016 (latest)
                </option>
                <option value="/bill/2015/12/02">
                    02 Dec 2015
                </option>
                <option value="/bill/2015/11/02">
                    02 Nov 2015
                </option>
            </select>
        </form>
    </div>
</section>

<section class="bill-links" id="bill-links">
    <h2>Your payments</h2>
    <ul>
        <li><a href="#/" name="make_a_payment"><i class="icon icon-chevron-right"></i>Pay your bill</a></li>
        <li><a href="#/" name="change_payment_due_date"><i class="icon icon-chevron-right"></i>Change payment date</a></li>
        <li><a href="#/" name="change_payment_method"><i class="icon icon-chevron-right"></i>Change how you pay</a></li>
    </ul>
    <h2>Settings</h2>
    <ul>
        <li><a href="#/" name="set_call_charge_alerts"><i class="icon icon-chevron-right"></i>Set call charge alerts</a></li>
        <li><a href="#/" name="paperless_bill_settings"><i class="icon icon-chevron-right"></i>Paperless bill settings</a></li>
    </ul>
</section>
<section class="bill-links">
    <h2>Future costs</h2>
    <ul class="links">
        <li><a href="#/"><i class="icon icon-chevron-right"></i>Upcoming subscription costs</a></li>
        <li><a href="#/"><i class="icon icon-chevron-right"></i>Charges since your latest bill</a></li>
    </ul>
</section>