<footer class="container">
    <ul class="footer-links">

        <li class="first">
            <a class="footer-link" href="#/" name="link_Terms-and-Conditions">Terms &amp; Conditions</a>
        </li>

        <li>
            <a class="footer-link" href="#/" name="link_Privacy-and-Cookies-Notice">Privacy &amp; Cookies Notice</a>
        </li>

        <li>
            <a class="footer-link" href="#/" name="link_Accessibility-Information">Accessibility Information</a>
        </li>

        <li>
            <a class="footer-link" href="#/" name="link_Contact-Us">Contact Us</a>
        </li>

        <li>
            <a class="footer-link" href="#/" name="link_Site-Map">Site Map</a>
        </li>

        <li class="skycom-change">
            <a class="footer-link" href="#/" name="link_change-location">Go to Ireland site</a>
        </li>
    </ul>
    <div class="copyright">
        <a href="#/" tabindex="-1"><i class="icon footer-icon"></i></a>
        <span class="footer-body copyright">© 2016 Sky UK</span>
    </div>
</footer>