<form class="search-wrapper" action="#/" method="post" role="search">
    <div class="search-field" data-search>
        <label>
            <input data-search-input placeholder="Search Help &amp; Support" type="search" class="search-text" autocomplete="off" value="" name="query" id="skycom-search-text">
        </label>
        <span class="search-button-image">
            <input data-search-submit type="submit" class="search-submit text" value="Search" id="skycom-search" name="search">
        </span>
    </div>
</form>
