$break-small: 34em;
$break-medium: 48em;
$break-large: 62em;
$break-x-large: 75em;

$mobile-nav-width: 270px;

$primary-color: rgba(0, 0, 0, 0);

$h1-border-color: rgb(204, 204, 204);

$nav-background-color: rgb(255, 255, 255);
$nav-border-color: rgb(209, 209, 209);
$nav-current-page-color: rgb(0, 122, 165);

$summary-section-border-color: rgb(220, 220, 220);
$summary-header-background-color: rgb(244, 244, 244);

$accordian-header-color: rgb(51, 51, 51);

$sky-form-border-color: rgb(220, 220, 220);
$sky-form-color: rgb(60, 60, 60);