@model Sky.Models.Bills.Store.Film

<div class="item film">
    <div class="details" data-item>
        <span class="label title" data-label>@Model.Title</span>
        <span class="total" data-total>@Model.Cost.ToString("C")</span>
    </div>
</div>