@model Sky.Models.Bills.Subscriptions.PackageSummary

@if (Model != null)
{
    <section class="package-summary summary accordian accordian-section" data-trigger="accordian-expand" data-package-summary>
        <header>
            <a class="expandable" href="#/">
                <span class="title">
                    My subscriptions
                </span>
                <span class="amount" data-total>
                    @Model.Total.ToString("C")
                </span>
                <span class="chevron"></span>
            </a>
        </header>
        <div class="detail" data-summary-details>
            <div class="item-list subscriptions" data-items>
                @Html.DisplayFor(x => x.Subscriptions)
            </div>
            <div class="statement-total" data-summary-total>
                <span class="label">Total</span>
                <span class="amount" data-total>@Model.Total.ToString("C")</span>
            </div>
        </div>
    </section>
}