@model Sky.Models.Bills.Subscriptions.Subscription

<div class="item subscription">
    <div class="details" data-item>
        <span class="label description" data-label>@Model.Name</span>
        <span class="total" data-total>@Model.Cost.ToString("C")</span>
    </div>
</div>